COMPANY=Some Customer

[test]
COMPANY=Overridden Customer
BATCH_CMD=/bin/cat
BATCH_ARGS=/etc/passwd
# This would include an external file as a template, for fancy skinning.
TEMPLATE_PAGE=@test.tpl

[mirror]
BATCH_DIR=/var/www/html
BATCH_DESC=Replication of files from files.source.com.
BATCH_CMD=/var/www/html/mirror.sh
BATCH_INTERVAL=900
